<div id ='' class='card transition block'>
    <div>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close' id="close_button" onclick="closeCard(this)">
            <span aria-hidden='true' class="close" id = "close_span">&times;
            </span>
        </button>
        <h2 id='name_header' class='transition'/>
    </div>
    <div class='cta-container transition'>
        <div class='questionarea'>
            <div class='modal-body'>
                <table>
                    <col width="14%">
                    <col width="41%">
                    <col width="6%">
                    <col width="41%">
                    <thead>
                        <tr>
                            <th class = "right_align cell_style">Matching Values</th>
                            <th class = "cell_style"></th>
                            <th class = "cell_style"></th>
                            <th class = "cell_style"></th>
                        </tr>
                    </thead>
                    <tbody class = 'exactMatch' id =''> </tbody>
                </table>
                <table>
                    <col width="14%">
                    <col width="41%">
                    <col width="6%">
                    <col width="41%">
                    <thead>
                        <tr>
                            <th class = "right_align cell_style">Different Values</th>
                            <th class = "cell_style"></th>
                            <th class = "cell_style"></th>
                            <th class = "cell_style"></th>
                        </tr>
                    </thead>
                    <tbody class = 'noMatch' id =''> </tbody>
                </table>
                <textarea style = "margin-top: 3%" rows="3" cols="80%" name="comment" placeholder="Enter your comments here (optional)" id="comment_box"></textarea>
            </div>
        </div>
        <div class="answerDiv">
            <div id="yesButton" class="answerButtons">
                <form onsubmit="submitAnswer(this, '1',''); return false;">
                    <button name='yes'class='cta_btn green-btn' onclick="closeCardFromAns(this)">Yes</button>
                </form>
            </div>
            <div id="noButton" class="answerButtons">
                <form onsubmit="submitAnswer(this, '2',''); return false;">
                    <button name='no'class='cta_btn red-btn' onclick="closeCardFromAns(this)">No</button>
                </form>
            </div>
            <div id="notsureButton" class="answerButtons">
                <form onsubmit="submitAnswer(this, '3',''); return false;">
                    <button name='notsure'class='cta_btn yellow-btn' onclick="closeCardFromAns(this)">Not sure</button>
                </form>
            </div>
        </div>
</div>
</div>
