<!DOCTYPE html>
<html>
    <head>
        <title>Link Verification - Dashboard</title>
        <link rel='icon' href='/static/images/favicon.ico' type='image/x-icon'/>
        <link rel="stylesheet" type="text/css" href="static/css/cards.css">
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <link rel="shortcut icon" type="image/x-icon" href="static/images/main.ico">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
        <style>
            html, body, .filter-section, .cards{
                margin: 0;

                padding: 0;

                min-width: 100%;
                width: 100%;
                max-width: 100%;

                min-height: 220%;
                height: 220%;
                max-height: 220%;
            }
        </style>
        <script type="text/javascript">
               function closeCard(toClose){
                    $(toClose).parent().parent().slideUp(800);
                };

               function closeCardFromAns(toClose){
                    $(toClose).parent().parent().parent().parent().parent().slideUp(800);
               }
                var sv = '{{server}}'.concat("v1/question?stats=true&count=10")
                $.ajax({
                    type: "GET",
                    url: sv,
                    success: function(data){
                        for(i = 0; i < data.length; i++)
                        {
                            populateCard(data[i],i);
                        }
                    }
                });

            function populateExactMatch(data, divid) {
                var tr = "";
                var names = data.name;
                var values = data.value;

                if(names.length == 0){
                    tr += "<td colspan='3' class = 'center_align cell_align'>None of the records matched</td>";
                }
                else {
                    for (var index in names) {
                        tr += "<tr>"
                        nametrim = names[index].replace("schema:", '');
                        tr += "<td class = 'right_align cell_align'>" + nametrim + "</td>";

                        if (names[index] == "schema:birthPlace") {
                            tr += "<td colspan='2' class = 'center_align cell_align'>Name: " + values[index]['schema:name'] + "</td>";
                        }

                        else if (nametrim == "URI") {
                            tr += "<td colspan='2' class = 'center_align cell_align'><a target='_blank' href='" + values[index] + "'>" + lValues[index] + "</a></td>";
                        }
                        else {
                            if (nametrim == "name") {
                                var name_header = document.getElementById("name_header" + divid);
                                name_header.innerHTML = "<table><tr><th class = 'center-align cell_align'>NPG</th><th class = 'center-align cell_align'>ULAN</th></tr><tr><td  colspan = '2' class = 'center-align cell_align'>" + values[index] + "</td></tr></table>"
                            }
                            tr += "<td colspan='2' class = 'center_align cell_align'>" + values[index] + "</td>";
                        }
                        tr += "</tr>";
                    }
                }
                document.getElementById("exactMatch" + divid).innerHTML = tr;
            }

            function populateNoMatch(data, divid) {
                var names = data.name;
                var lValues = data.lValue;
                var rValues = data.rValue;

                var tr = "";
                if(names.length == 0){
                    tr += "<td colspan='3' class = 'center_align cell_align'>None of the records matched</td>";
                }
                for(var index in names) {
                    tr += "<tr>";
                    names[index] = (names[index]).trim();
                    nametrim = names[index].replace("schema:", '');
                    tr += "<td class = 'right_align cell_align'>" + nametrim + "</td>";


                    if (nametrim == "URI") {
                        tr += "<td class='right_align cell_align'><a target='_blank' href='" + lValues[index] + "'>" + lValues[index] + "</a></td>";
                        tr += "<td class='left_align cell_align'><a target='_blank' href='" + rValues[index] + "'>" + rValues[index] + "</a></td>";
                    }
                    else if (names[index] == "schema:birthPlace") {
                        if (lValues[index] == null)
                            tr += "<td class='cell_align'>" + "-" + "</td>";
                        else
                            tr += "<td class='right_align cell_align'>Name: " + lValues[index]['schema:name'] + "</td>";
                        if (rValues[index] == null)
                            tr += "<td class='cell_align'>" + "-" + "</td>";
                        else tr += "<td class='left_align cell_align'>Geo: Lat: " + rValues[index]['schema:geo']['schema:latitude'] + " Long: " + rValues[index]['schema:geo']['schema:longitude'] + "<br/>Name: " + rValues[index]['schema:name'] + "</td>";
                    }
                    else {
                        if (nametrim == "name") {
                            var name_header = document.getElementById("name_header" + divid);
                            name_header.innerHTML = "<table class = 'center-align cell_align'><tr><th style='text-align:center'>NPG</th><th style='text-align:center'>ULAN</th></tr><tr><td style='text-align:center'>" + lValues[index] + "</td><td  style='text-align:center'>" + rValues[index] + "</td></tr></table>"
                        }
                        if (lValues[index] == null)
                            tr += "<td class='cell_align'>" + "-" + "</td>";
                        else
                            tr += "<td class='right_align cell_align'>" + lValues[index] + "</td>";
                        if (rValues[index] == null)
                            tr += "<td class='cell_align>" + "-" + "</td>";
                        else
                            tr += "<td class='left_align cell_align'>" + rValues[index] + "</td>";
                    }
                    tr += "</tr>";
                }
                document.getElementById("noMatch" + divid).innerHTML = tr;
            }

            function populateCard(data,divid) {
                $.ajax({
                    method: "GET",
                    url: "/cards",
                    success: function (card) {
                        content = card;
                        searchTxt = "<h2 id='name_header";
                        pos = content.search(searchTxt);
                        content = content.slice(0, pos + searchTxt.length) + divid + content.slice(pos + searchTxt.length);
                        searchTxt = "<div id ='";
                        pos = content.search(searchTxt);
                        content = content.slice(0, pos + searchTxt.length) + divid + content.slice(pos + searchTxt.length);
                        searchTxt = "<tbody class = 'exactMatch' id ='";
                        pos = content.search(searchTxt);
                        content = content.slice(0, pos + searchTxt.length) + "exactMatch" + divid + content.slice(pos + searchTxt.length);
                        searchTxt = "<tbody class = 'noMatch' id ='";
                        pos = content.search(searchTxt);
                        content = content.slice(0, pos + searchTxt.length) + "noMatch" + divid + content.slice(pos + searchTxt.length);
                        searchTxt = "'1','";
                        pos = content.search(searchTxt);
                        content = content.slice(0, pos + searchTxt.length) + data['qid'] + content.slice(pos + searchTxt.length);
                        searchTxt = "'2','";
                        pos = content.search(searchTxt);
                        content = content.slice(0, pos + searchTxt.length) + data['qid'] + content.slice(pos + searchTxt.length);
                        searchTxt = "'3','";
                        pos = content.search(searchTxt);
                        content = content.slice(0, pos + searchTxt.length) + data['qid'] + content.slice(pos + searchTxt.length);

                        document.getElementById("cards").innerHTML += content;

                    },
                    complete: function () {
                        populateExactMatch(data.ExactMatch, divid);
                        populateNoMatch(data.Unmatched, divid);
                    }
                });
            }
            function submitAnswer(answerButton, value, qid){
                //console.log($(answerButton).parent().parent().parent().parent().parent().find('#comment_box').val())
                var sv = '{{server}}'.concat("/v1/answer");
                $.ajax({
                    method: "PUT",
                    url: sv,
                    data: '{"qid":"' +  qid + '", "value":'+ parseInt(value)+', "comment":"User comments"}',
                    contentType: 'application/json',
                    success: function(data){
                        console.log("Answer Successfully submitted");
                    }
                });
            }
       </script>

</head>
    <body>
        <div class="page" id="page">
        <div class="filter-section">
             <div id = "header">{% include 'header_search.html' %}</div>
        </div>
        <div class="cards" id = "cards"></div>
        </div>
    </body>
</html>