<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Link Verification</title>

	<link rel="stylesheet" href="static/css/assets/demo.css">
	<link rel="stylesheet" href="static/css/assets/header-search.css">
	<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
    <link rel="shortcut icon" type="image/x-icon" href="static/images/main.ico">
    <script>
        function setSelected()
        {
            var option = document.URL.match(/.*\/(.*?)$/);
            console.log("Profile view logging")
            console.log(option);
            option = option[1];
            if(option == ""){
                option = "logout"
        }
            document.getElementById(option).className += "selected"
        }
    </script>

</head>

<body onload="setSelected()">

<header class="header-search">

	<div class="header-limiter">

		<h1><a class="header-font" href="#">Link Verification<span>      Information Integration Group        </span></a></h1>

		<nav style="float:right;">
            <a href="/about" id = "about">About</a>
			<a href="/curation" id = "curation">Home</a>
			<a href="/profile" id = "profile">Profile</a>
			<a href="{{ url_for('logout') }}" id = "logout">Logout</a>
            <a href="/support" id = "support">Support</a>
            <a href="/results" id = "results">Results</a>

		</nav>
	</div>

</header>
</body>
</html>
