<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <link rel="shortcut icon" type="image/x-icon" href="static/images/main.png">
    <title>Link Curation - About</title>
    
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="static/js/materialize.js"></script>
    <script src="static/js/init.js"></script>
  
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen"/>
    <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen"/>

    <style>
    #body {
      min-height: calc(100vh - 10px);
    }
    </style>
    
</head>

<body>

    <div>{% include 'header.html' %}</div>
    <div id="body">
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <h1 class="header center black-text">About</h1>
            <div class="row center">
                <h5 class="header col s12 light">This web app was developed to curate linked data of <a href=http://americanartcollaborative.org>"American Arts Collaborative"</a>.</h5>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center "><i class="material-icons">info_outline</i></h2>
                        <h5 class="center">Curate</h5>
                        <p class="light">Curate pairs of data from two different sources by selecting "YES", "NO" or "NOT SURE" button along with writing optional comment about your response. Pair will have matched and unmatched attributes put side by side for easier comparison.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center"><i class="material-icons">info_outline</i></h2>
                        <h5 class="center">Profile</h5>
                        <p class="light">Update your preferred museums, track your progress and configure other profile information. You can also see your curation statistics with respect to different museums and also compare it with total curation statistics. </p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center"><i class="material-icons">info_outline</i></h2>
                        <h5 class="center">Results</h5>
                        <p class="light">Browse, search and filter already curated data. You can also export already curated pairs of data in json format. You can select one or more museums and flags (Matched, Unmatched, Not Sure) and click export to download the json file. This is helpful to do further analysis on top of curated data.</p>
                    </div>
                </div>
            </div>
      
            <br><br>
      
            <div class="row bold" > All of museum data has been sourced from <a href=https://github.com/american-art>American Art Github</a>, cleaned and converted to RDF with the help of <a href=http://usc-isi-i2.github.io/karma/>Karma</a> using <a href="http://www.cidoc-crm.org/">cidoc-crm</a> based reference data models at <a href=http://review.americanartcollaborative.org/>AAC Review</a>. RDF data is also available to be queried at Sparql endpoint <a href=http://data.americanartcollaborative.org/sparql>here</a>. Curation interface is populated with pairs of data which is generated using suitable record blocking and linking techniques. Code for this web app is available at <a href=https://github.com/usc-isi-i2/museum-link-curation>Github</a>. You can contact us at <a href="mailto:nilayvac@usc.edu">nilayvac@usc.edu</a> for any issues, bugs, feedback or feature requests.</div>

        </div>
    </div>
    </div>
    <div>{% include 'footer.html' %}</div>
</body>
</html>