<div id="card1" class="card" style="width:100%;height=100%">
    <div class="card-content">
        <div class="progress1"><div class="indeterminate"></div></div>
        <table class='centered bordered' style='border: 1px solid black;border-collapse: collapse;'>
            <tbody id="cardHeading1"></tbody>
        </table>
        
        <table class="highlight bordered" style="table-layout:fixed;">
            <col style="width:10%">
            <col style="width:45%">
            <col style="width:45%">
            <thead>
                <tr>
                    <th>Matching Values</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id='exactMatch1'></tbody>
        </table>
        
        <table class="highlight bordered" style="table-layout:fixed;">
            <col style="width:10%">
            <col style="width:45%">
            <col style="width:45%">
            <thead>
                <tr>
                    <th>Different Values</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id='noMatch1'></tbody>
        </table>
        
        <table class="centered" style="table-layout:fixed;">
            <col style="width:33.33%">
            <col style="width:33.33%">
            <col style="width:33.33%">
            <thead>
                <tr>
                    <th>
                        <button id="aY1" class="waves-effect waves-light green btn-large" type="submit">Yes
                            <i class="material-icons right">send</i>
                        </button>
                    </th>
                    <th>
                        <button id="aN1" class="waves-effect waves-light red btn-large " type="submit">No
                            <i class="material-icons right">send</i>
                        </button>
                    </th>
                    <th>
                        <button id="aNS1" class="waves-effect waves-light yellow darken-3 btn-large" type="submit">Not Sure
                            <i class="material-icons right">send</i>
                        </button>
                    </th>
                </tr>
                <tr>
                    <th colspan="3">
                        <div id="commentbox" class="input-field col s12">
                            <textarea id="usercomment1" class="materialize-textarea"></textarea>
                            <label for="usercomment1">Comments (optional)</label>
                        </div>
                    </th>
                </tr>
            </thead>
        </table>
    </div>          
</div>