<!DOCTYPE  html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" type="image/x-icon" href="static/images/main.png">
    <title>Link Curation</title>
    
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="static/js/materialize.js"></script>
    <script src="static/js/init.js"></script>
  
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen"/>
    <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen"/>
    
    <style>
        body{
            background:url('static/images/background.jpg') center center no-repeat fixed;
            background-size:cover; 
            width:100%; 
            height:100%;
        }
        #body{
            min-height: calc(100vh - 10px);
        }
        td{
            word-wrap: break-word;
        }
        #cardHeading th{
            font-size: 14pt !important;
        }
        #cardHeading td{
            font-size: 24pt !important;
        }
    </style>
    
    <script>
        var maxCards = 3;
        var qid = new Array(maxCards);
        var answerIds = new Array(maxCards);
        var answerComments = new Array(maxCards);
        var questionCount = 0;
        var answerCount = 0;
        
        $(document).ready(function(){ 
            
            // Load all cards
            /*
            for(i=1;i<=maxCards;i++){
                console.log("Creating html for card "+i);
                
                //var html = document.getElementById('cards');
                // Load all html
                //html += "<div>";
                $("#cards").append("<div>");
                
                $(function(){
                    $("#cards").load("card.html");
                });
                
                $.get("card.html", function(data){
                    $('#cards').html(data);
                });
                // Load standard card html
                //$('#cards').append(html);
                //$("#cards").load("card.html");
                
                // Update ids
                $('#card').attr('id', 'card'+i)
                $('#progress').attr('id', 'progress'+i)
                $('#cardHeading').attr('id', 'cardHeading'+i)
                $('#exactMatch').attr('id', 'exactMatch'+i)
                $('#noMatch').attr('id', 'noMatch'+i)
                $('#aY').attr('id', 'aY'+i)
                $('#aN').attr('id', 'aN'+i)
                $('#aNS').attr('id', 'aNS'+i)
                $('#commentbox').attr('id', 'commentbox'+i)
                $('#usercomment').attr('id', 'usercomment'+i)
                $('#commentbox').append("<label for='usercomment"+i+"'>Comments (optional)</label>")
                
                // close div and put new line
                $("#cards").append("</div>");
                $("#cards").append("<br><br><br>");
                
                console.log(document.getElementById('#cards'));
            }*/
        
            // Disable all buttons
            for(i=1;i<=maxCards;i++){
                document.getElementById("aY"+i).disabled = true;
                document.getElementById("aN"+i).disabled = true;
                document.getElementById("aNS"+i).disabled = true;
            }
        
            // Send get call and populate card content
            populateCards();
            $('#stats_card').hide();
            
            // Logic for accepting answers and sending them to server
            for(i=1;i<=maxCards;i++){
                console.log("Setting up action listener for buttons of card "+i)
                $("#aY"+i).click(function(){
                    var id = parseInt(this.id.substring(2,3));
                    console.log("Yes: Comment is "+document.getElementById("usercomment"+id).value);
                    console.log("Question id - "+qid[id-1]);
                    answerCount = answerCount + 1;
                    answerIds[id-1] = 1;
                    answerComments[id-1] = document.getElementById("usercomment"+id).value;
                    $('#usercomment'+id).val('');
                    $('#usercomment'+id).trigger('autoresize');
                    $('#card'+id).slideUp();
                    if (answerCount == questionCount){
                        submitAnswer();
                    }
                    else{
                        Materialize.toast("You will need to answer all cards before new pairs are shown.", 3000,'rounded');
                    }
                });
                $("#aN"+i).on("click",function(){
                    var id = parseInt(this.id.substring(2,3));
                    console.log("No: Comment is "+document.getElementById("usercomment"+id).value);
                    console.log("Question id - "+qid[id-1]);
                    answerCount = answerCount + 1;
                    answerIds[id-1] = 2;
                    answerComments[id-1] = document.getElementById("usercomment"+id).value;
                    $('#usercomment'+id).val('');
                    $('#usercomment'+id).trigger('autoresize');
                    $('#card'+id).slideUp();
                    if (answerCount == questionCount){
                        submitAnswer();
                    }
                    else{
                        Materialize.toast("You will need to answer all cards before new pairs are shown.", 3000,'rounded');
                    }
                });
                $("#aNS"+i).on("click",function(){
                    var id = parseInt(this.id.substring(3,4));
                    console.log("NotSure: Comment is "+document.getElementById("usercomment"+id).value);
                    console.log("Question id - "+qid[id-1]);
                    answerCount = answerCount + 1;
                    answerIds[id-1] = 3;
                    answerComments[id-1] = document.getElementById("usercomment"+id).value;
                    $('#usercomment'+id).val('');
                    $('#usercomment'+id).trigger('autoresize');
                    $('#card'+id).slideUp();
                    if (answerCount == questionCount){
                        submitAnswer();
                    }
                    else{
                        Materialize.toast("You will need to answer all cards before new pairs are shown.", 3000,'rounded');
                    }
                });
            }
        });
        
        function populateCards(){
           var sv = '{{server}}'.concat("/question?stats=false&count=1");
            $.ajax({
                type: "GET",
                url: sv,
                beforeSend: function(){
                    for(i=1;i<=maxCards;i++){
                        $('#progress'+i).show();
                    }
                },  
                success: function(data, textStatus, xhr){
                    if (data.length > 0)
                    {
                        for(i=1;i<=maxCards;i++){
                            console.log("Populating card "+i)
                            if (i <= data.length){
                                populateCard(data[i-1],i);
                                questionCount = questionCount + 1;
                                $('#progress'+i).hide();
                            }
                            else{
                                // Hide empty cards
                                $('#progress'+i).hide();
                                $('#card'+i).hide();
                            }
                        }
                    }
                    else
                    {
                        console.log(textStatus)
                        Materialize.toast("Well done! No more un-curated matches for this museum!", 4000,'rounded');
                        window.setTimeout(function() {
                            window.location.href = '/done';
                        }, 4500);
                    }
                },
                error: function(xhr){
                    console.log('Request Status: ' + xhr.status + ' \nStatus Text: ' + xhr.statusText + ' \nResponse Text: ' + xhr.responseText);
                    if (xhr.status == "500"){
                        Materialize.toast("Something went wrong. Please back in sometime!", 2000,'rounded');
                        for(i=1;i<=maxCards;i++){
                            $('#card'+i).hide();
                        }
                        window.setTimeout(function() {
                            window.location.href = '/curation';
                        },4000);
                    }
                    else if (xhr.status == "400"){
                        rsp =  JSON.parse(xhr.responseText);
                        console.log('Request Status: ' + xhr.status + ' \nStatus Text: ' + xhr.statusText + ' \nResponse Text: ' + rsp["error"]);
                        Materialize.toast(rsp["error"], 2000,'rounded');
                        
                        window.setTimeout(function() {
                            if (rsp["error"].includes("Sparql Endpoint not responding")){
                                for(i=1;i<=maxCards;i++){
                                    $('#progress'+i).hide();
                                }
                                Materialize.toast("Try again in some time or ensure that sparql endpoints are up!", 2000,'rounded');
                            }
                            else if (rsp["error"].includes("not have any tags associated")){
                                Materialize.toast("Please update your preferred museums. Redirecting...", 2000,'rounded');
                                window.setTimeout(function() {
                                    window.location.href = '/profile';
                                }, 2500);
                            }
                        },2500);
                    }
                }
            });
        };
        
        function populateCard(data,cid) {
        
            // Start progress bar and load all the content
            console.log("loading...")
            populateHeadings(data.Unmatched,cid);
            populateExactMatch(data.ExactMatch,cid);
            populateNoMatch(data.Unmatched,cid);
            var h = "<tr class='cyan darken-2 white-text thin'><th colspan='2' style='text-align:center'> Similarity Score: "+data.score+"</th></tr>";
            $('#cardHeading'+cid).append(h);
            
            // Disable progress bar and enable buttons
            document.getElementById("aY"+cid).disabled = false;
            document.getElementById("aN"+cid).disabled = false;
            document.getElementById("aNS"+cid).disabled = false;
            console.log("loading...done")
            var qidid = parseInt(cid) - 1
            qid[qidid] = data['qid']
            
            // Get statistics on currently loaded card
            var sv = '{{server}}'.concat("/stats?tag="+data.Unmatched.leftT);
            $.ajax({
                type: "GET",
                url: sv,
                success: function(data){
                    console.log("Received stats");
                    console.log(data);
                    var completed = data.matchedQ + data.unmatchedQ + data.unconcludedQ;
                    var total = data.totalQ;
                    $('#stats_card').show();
                    document.getElementById("matchingStats").innerHTML = 'Completed '+completed+'/'+total;
                }
            });
        };
        
        function populateHeadings(data,cid){
            console.log("Populating heading...")
            console.log("left tag: "+data.leftT)
            console.log("right tag: "+data.rightT)
            var h = "";
            h += "<tr class='cyan darken-4 white-text thin'>"
            h += "<th style='text-align:center'>"+data.leftT+"</th>";
            h += "<th style='text-align:center'>"+data.rightT+"</th></tr>";
            $('#cardHeading'+cid).append(h);
        };
        
        function populateExactMatch(data,cid) {
            console.log("Populating exact matches...")
            console.log(data)
            var tr = "";
            var names = data.name;
            var values = data.value;
            
            if(names.length == 0) {
                tr += "<tr><td colspan='3' style='text-align:center'>None of the fields match</td></tr>";
            }
            else {
                if (names.length == 1 && contains(names,"name")){
                    tr += "<tr><td colspan='3' style='text-align:center'>None of the other fields match</td></tr>";
                }
            
                for (var index in names) {
                    
                    // Special handling of Name
                    if (names[index] == "name") {
                        var heading = document.getElementById("cardHeading"+cid);
                        heading.innerHTML += "<tr class='cyan darken-3 white-text'><td colspan='2' style='text-align:center'>"+values[index]+"</td></tr>"; 
                    }
                    else {
                        if (values[index] == null || values[index] == "" || values[index] == []){
                            //tr += "<td style='text-align:center' colspan='2'> None </td>";
                        }
                        else{
                            tr += "<tr>"
                            tr += "<td style='text-align:right'>" + names[index] + "</td>";
                            tr += "<td style='text-align:center' colspan='2'>"+ values[index] +"</td>";
                            tr += "</tr>";
                        }
                    }
                }
            }
            $('#exactMatch'+cid).append(tr);
        };
        
        function populateNoMatch(data,cid) {
            console.log("Populating non matches...")
            console.log(data)
            var names = data.name;
            var lValues = data.lValue;
            var rValues = data.rValue;
            
            var tr = "";
            if(names.length == 0){
                tr += "<tr><td colspan='3' style='text-align:center'>All attributes are matching.</td></tr>";
            }
            else
            {            
                for(var index in names) {
                    tr += "<tr>";
                    
                    if (names[index] == "uri") {
                        tr += "<td style='text-align:right;'>" + names[index] + "</td>";
                        tr += "<td style='text-align:right;padding-right:15px;'><a href='" + lValues[index] + "' target='_blank'>" + lValues[index] + "</a></td>";
                        tr += "<td style='text-align:left;padding-left:15px;'><a href='" + rValues[index] + "' target='_blank'>" + rValues[index] + "</a></td>";
                    }                    
                    else if (names[index] == "name") {
                        var heading = document.getElementById("cardHeading"+cid);
                        heading.innerHTML += "<tr class='cyan darken-3 white-text'><td style='text-align:center'>"+lValues[index]+"</td><td style='text-align:center'>"+rValues[index]+"</td></tr>";
                    }
                    else if (names[index] == "object_links"){
                        tr += "<td style='text-align:right;'>" + names[index] + "</td>";
                        
                        if (lValues[index].length == 0) {
                            tr += "<td style='text-align:right;padding-right:15px;'> None </td>";
                        }
                        else {
                            tr += "<td style='text-align:right;padding-right:15px;'><ul>";
                            for(var i in lValues[index]) {
                                tr += "<li><a href='" + lValues[index][i] + "' target='_blank'>" + lValues[index][i] + "</a></li>";
                            }
                            tr += "</ul></td>";
                        }
                        
                        if (rValues[index].length == 0) {
                            tr += "<td style='text-align:left;padding-left:15px;;'> None </td>";
                        }
                        else {
                            tr += "<td style='text-align:right;padding-right:15px;'><ul>";
                            for(var i in rValues[index]) {
                                tr += "<li><a href='" + rValues[index][i] + "' target='_blank'>" + rValues[index][i] + "</a></li>";
                            }
                            tr += "</ul></td>";
                        }
                    }
                    else {
                        
                        tr += "<td style='text-align:right'>" + names[index] + "</td>";
                        
                        if (lValues[index] == null)
                            tr += "<td style='text-align:right;padding-right:15px;'> None </td>";
                        else
                            tr += "<td style='text-align:right;padding-right:15px;'>" + lValues[index] + "</td>";
                        
                        if (rValues[index] == null)
                            tr += "<td style='text-align:left;padding-left:15px;;'> None </td>";
                        else
                            tr += "<td style='text-align:left;padding-left:15px;'>" + rValues[index] + "</td>";
                    }
                    tr += "</tr>";
                }
            }
            $('#noMatch'+cid).append(tr);
        };
        
        function contains(ary, elem){
            for (var i = 0; i<ary.length;i++){
                if (ary[i] == elem){
                    return true;
                }
            }
            return false;
        };
        
        // Submit all answers together only
        function submitAnswer(){
        
            // For all answers
            for(i=1;i<=questionCount;i++){
                var sv = '{{server}}'.concat("/answer");
                var payload = new Object();
                payload.value = answerIds[i-1];
                payload.qid = qid[i-1];
                payload.comment = answerComments[i-1];
                console.log("Submitting answer "+answerIds[i-1]+" to card "+i+" with comment "+answerComments[i-1])
                $.ajax({
                    method: "PUT",
                    url: sv,
                    data: JSON.stringify(payload),
                    contentType: 'application/json',
                    success: function(data){
                        if (i > questionCount){
                            window.location.href = "/curation";
                            i = 0;
                        }
                    },
                });
            }
        };
    </script>
</head>

<body>
    <div>{% include 'header.html' %}</div>
    <br>
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4">
            <div id="stats_card" class="card black">
                <div class="card-content white-text"><p id="matchingStats" style="text-align:center"></p></div>
            </div>
        </div>
        <div class="col s4"></div>
    </div>
    <div class="container" id="body" style="height:100%">
        <div>{% include 'cards.html' %}</div>
    </div>
    <div>{% include 'footer.html' %}</div>
</body>
</html>