<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <link rel="shortcut icon" type="image/x-icon" href="static/images/main.png">
    <title>Link Curation</title>
    
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="static/js/materialize.js"></script>
    <script src="static/js/init.js"></script>
  
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    
    <style>
        body{
            background:url('static/images/background.jpg') center center no-repeat fixed;
            background-size:cover; 
            width:100%; 
            height:100%;
        }
        #body{
            min-height: calc(100vh - 10px);
        }
        td{
            word-wrap: break-word;
        }
        #cardHeading th{
            font-size: 14pt !important;
        }
        #cardHeading td{
            font-size: 24pt !important;
        }
    </style>
    
    <script>
        var qid = ''
        
        $(document).ready(function(){ 
        
            document.getElementById("aY").disabled = true;
            document.getElementById("aN").disabled = true;
            document.getElementById("aNS").disabled = true;
        
            populateCards();
        
            $("#aY").click(function(e){
                e.preventDefault(e);
                console.log("Yes: Comment is "+document.getElementById("usercomment").value);
                console.log("Question id - "+qid);
                submitAnswer(1,qid,document.getElementById("usercomment").value);
                
                $('#usercomment').val('');
                $('#usercomment').trigger('autoresize');
                
            });
            $("#aN").on("click",function(){
                console.log("No: Comment is "+document.getElementById("usercomment").value);
                console.log("Question id - "+qid);
                submitAnswer(2,qid,document.getElementById("usercomment").value);
                
                $('#usercomment').val('');
                $('#usercomment').trigger('autoresize');
            });
            $("#aNS").on("click",function(){
                console.log("NotSure: Comment is "+document.getElementById("usercomment").value);
                console.log("Question id - "+qid);
                submitAnswer(3,qid,document.getElementById("usercomment").value);
                
                $('#usercomment').val('');
                $('#usercomment').trigger('autoresize');
            });
        });
        
        function populateCards(){
           var sv = '{{server}}'.concat("/question?stats=true&count=1");
            $.ajax({
                type: "GET",
                url: sv,
                success: function(data){
                    if (data.length > 0)
                    {
                        populateCard(data[0],0);
                    }
                    else
                    {
                        Materialize.toast("Please update your preferred museums. Redirecting...", 2000);
                        window.setTimeout(function() {
                            window.location.href = '/profile';
                        }, 2500);
                    }
                },
                error: function(xhr){
                    console.log('Request Status: ' + xhr.status + ' \nStatus Text: ' + xhr.statusText + ' \nResponse Text: ' + xhr.responseText);
                    if (xhr.status == "500"){
                        Materialize.toast("Something went wrong. Please try again!", 2000);
                        window.location.href = '/';
                    }
                    else{
                        Materialize.toast("Please update your preferred museums. Redirecting...", 2000);
                        window.setTimeout(function() {
                            window.location.href = '/profile';
                        }, 2500);
                    }
                }
            });
        };
        
        function populateCard(data,divid) {
            $.ajax({
                method: "GET",
                url: "/cards",
                beforeSend: function(){
                    $('.progress').show();
                    console.log("loading...")
                    populateHeadings(data.Unmatched);
                    populateExactMatch(data.ExactMatch);
                    populateNoMatch(data.Unmatched);
                    var h = "<tr class='cyan darken-2 white-text thin'><th colspan='2' style='text-align:center'> Similarity Score: "+data.score+"</th></tr>";
                    $('#cardHeading').append(h);
                },  
                success: function (card) {
                    $('.progress').hide();
                    document.getElementById("aY").disabled = false;
                    document.getElementById("aN").disabled = false;
                    document.getElementById("aNS").disabled = false;
                    console.log("loading...done")                    
                    qid = data['qid']
                },
                complete: function () {
                    // Do something useful may be
                }
            });
        };
        
        function populateHeadings(data){
            console.log(data)
            var h = "";
            h += "<tr class='cyan darken-4 white-text thin'>"
            h += "<th style='text-align:center'>"+data.leftT+"</th>";
            h += "<th style='text-align:center'>"+data.rightT+"</th></tr>";
            $('#cardHeading').append(h);
        };
        
        function populateExactMatch(data) {
            console.log(data)
            var tr = "";
            var names = data.name;
            var values = data.value;
            
            if(names.length == 0) {
                tr += "<tr><td colspan='3' style='text-align:center'>None of the fields match</td></tr>";
            }
            else {
                if (names.length == 1 && contains(names,"Name")){
                    tr += "<tr><td colspan='3' style='text-align:center'>None of the other fields match</td></tr>";
                }
            
                for (var index in names) {
                    tr += "<tr>"
                    
                    // Special handling of Name
                    if (names[index] == "Name") {
                        var heading = document.getElementById("cardHeading");
                        heading.innerHTML += "<tr class='cyan darken-3 white-text'><td colspan='2' style='text-align:center'>"+values[index]+"</td></tr>"; 
                    }
                    else {
                        tr += "<td style='text-align:right'>" + names[index] + "</td>";
                        tr += "<td style='text-align:center' colspan='2'>" + values[index] + "</td>";
                    }
                    tr += "</tr>";
                }
            }
            $('#exactMatch').append(tr);
        };
        
        function populateNoMatch(data) {
            console.log(data)
            var names = data.name;
            var lValues = data.lValue;
            var rValues = data.rValue;
            
            var tr = "";
            if(names.length == 0){
                tr += "<tr><td colspan='3' style='text-align:center'>All attributes are matching.</td></tr>";
            }
            else
            {            
                for(var index in names) {
                    tr += "<tr>";
                    
                    if (names[index] == "URI") {
                        tr += "<td style='text-align:right;'>" + names[index] + "</td>";
                        tr += "<td style='text-align:right;padding-right:15px;'><a href='" + lValues[index] + "'>" + lValues[index] + "</a></td>";
                        tr += "<td style='text-align:left;padding-left:15px;'><a href='" + rValues[index] + "'>" + rValues[index] + "</a></td>";
                    }                    
                    else if (names[index] == "Name") {
                        var heading = document.getElementById("cardHeading");
                        heading.innerHTML += "<tr class='cyan darken-3 white-text'><td style='text-align:center'>"+lValues[index]+"</td><td style='text-align:center'>"+rValues[index]+"</td></tr>";
                    }
                    else {
                        
                        tr += "<td style='text-align:right'>" + names[index] + "</td>";
                        
                        if (lValues[index] == null)
                            tr += "<td style='text-align:right;padding-right:15px;'>" + "-" + "</td>";
                        else
                            tr += "<td style='text-align:right;padding-right:15px;'>" + lValues[index] + "</td>";
                        
                        if (rValues[index] == null)
                            tr += "<td style='text-align:left;padding-left:15px;;'>" + "-" + "</td>";
                        else
                            tr += "<td style='text-align:left;padding-left:15px;'>" + rValues[index] + "</td>";
                    }
                    tr += "</tr>";
                }
            }
            $('#noMatch').append(tr);
        };
        
        function contains(ary, elem){
            for (var i = 0; i<ary.length;i++){
                if (ary[i] == elem){
                    return true;
                }
            }
            return false;
        };
        
        function submitAnswer(answer, qid, comment){
            var sv = '{{server}}'.concat("/answer");
            var payload = new Object();
            payload.value = answer;
            payload.qid = qid;
            payload.comment = comment;
            console.log("submitting "+JSON.stringify(payload))
            
            $.ajax({
                method: "PUT",
                url: sv,
                data: JSON.stringify(payload),
                contentType: 'application/json',
                success: function(data){
                    console.log("Answer Successfully submitted");
                    window.location.href = "/curation";
                }
            });
        };
       </script>
    </script>
    
</head>

<body>
    <div>{% include 'header.html' %}</div>
    <br><br><br>
    <div class="container" id="body" style="height:100%">
        <div>{% include 'cards.html' %}</div>
    </div>
    <div>{% include 'footer.html' %}</div>
</body>
</html>