<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <link rel="shortcut icon" type="image/x-icon" href="static/images/main.png">
    <title>Link Curation - Profile</title>
    
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="static/js/materialize.js"></script>
    <script src="static/js/init.js"></script>
  
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    
    <script>
        $(document).ready(function () {
            var p = '{{server}}'.concat("/user");

            $.ajax({
                method: 'GET',
                url: p,
                contentType: 'application/json',
                success: function(data){
                    $('#nameHeading').append("Welcome, "+data.name)
                    for(i = 0; i < data.tags.length; i++) {
                        $('#'+data.tags[i]).prop('checked', true);
                    }
                }
            });
            
            $("#save").click(function(e){
                e.preventDefault()
                
                var tag_list = [];
                
                tag_list.push($('input[name="museums"]:checked').map(
                    function () {return this.value;}).get());
                var userObj = new Object();
                userObj.tags = tag_list[0];
                json_data = JSON.stringify(userObj);

                var sv = '{{server}}'.concat("/user");
                
                $.ajax({
                    method: 'PUT',
                    url: sv,
                    data: json_data,
                    contentType: 'application/json',
                    success: function(data){
                        console.log("Tag Successfully submitted");
                        window.location.href = "/curation";
                    }
                });
            });
            
        });
    </script>

</head>
<body>
    <div> {% include 'header.html' %}
    
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <h1 id="nameHeading" class="header center black-text"></h1>
            <div class="row center">
                <h5 class="header col s12 light">You can update your preferred museums below. You can also see your (left) and overall system (right) statistics below.</h5>
            </div>
        </div>
    </div>
    
    <div class="container">
      <div class="section">

        <div class="row">
          <div class="col s12 m4">
            <div style="height:10%;width:10%">{% include 'charts.html' %}</div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
                {% for tag in keys %}
                    <input id={{tag}} type="checkbox" class="filled-in" name="museums" value={{tag}} />
                    <label for={{tag}} class="black-text"> {{museums[tag]['name']}} ( {{tag}} ) </label><br/>
                {% endfor %}
                
                <br/><br/><br/>
                
                <form name ="profile_tag_select">
                    <center><button id = "save" type="submit" class="waves-effect waves-light btn-large">Save Changes</button></center>
                </form>
            </div>
          </div>

          <div class="col s12 m4">
            <div style="height:10%;width:10%">{% include 'charts.html' %}</div>
          </div>
        
        </div>
      </div>
      <br><br>

      <div class="container" style="height:30vh"></div>
    </div>
    
    <div>{% include 'footer.html' %}</div>
</body>
</html>